.home__features {
  /* border: 1px solid white; */
  display: flex;
  /* width: 100%; */
  /* flex-direction: column; */
  justify-content: center;
  align-items: stretch;
  gap: 1rem;
  flex-wrap: wrap-reverse;
  padding: 1rem;
}

.home__feature {
  flex: 1 1 200px;
  max-width: 300px;
  text-align: center;
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 1rem;
  background: var(--bg-color);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.home__feature:hover {
  transform: translateY(-5px);
}
.home__feature-icon {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}
.home__feature-title {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}
.home__feature-desc {
  font-size: 1rem;
}

/* Larger screens: lay out features in a row */
@media only screen and (max-width: 640px) {
  .home__features {
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
  }

  .home__feature {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0.75rem;
  }
}
