.home__container {
  max-width: 1200px;
  /* border: 1px solid red; */
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: start;
}

.home__info {
  /* border: 1px solid red; */
  padding: 0.5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (max-width: 940px) {
  .home__container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1rem;
  }
}
